body {
    background-color: #F7F9FF;
    border-color: #F7F9FF;
    min-height: 75rem;
    padding-top: 5.5rem;

}

.container {
  display: flex;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.person {
  border-bottom: solid 1px;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-color: #F5F4F5;
}

.icon img{
  width: 2em;
}

.logo {
  height: 2em;
}

.footer-logo {
  width: 20em;
  padding-top: 10em;
}

.ml2 {
    font-weight: 400;
    font-size: 1.5em;
    max-width: 200px;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }


  .ml6 {
    position: relative;
    font-weight: 400;
    font-size: 1.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


  #welcome-container-0 {
    background-color: aqua;
  }


  